* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #cb1818;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
}

a {
  text-decoration: none;
  color: #222;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navbar */
.navbar {
  background: #fff;
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 13px 20px;
  display: block;
  font-weight: 600;
  transition: 0.7s;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

.navbar .btn:hover {
  color: #fff;
}

.navbar ul li b i {
  margin-right: 10px;
}

.navbar ul li .btn {
  margin-left: 20px;
}

/* Hero */

.hero {
  background: url("images/ardon.jpg") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(89.43vh);
  background-size: cover;
  position: relative;

  mask-image: linear-gradient(to bottom, black 0%, black 100%),
    linear-gradient(to bottom, transparent 70%, black 100%);
  mask-position: bottom, bottom;
  mask-size: 100% 100%, 100% 100%;
  mask-repeat: no-repeat, no-repeat;
  mask-composite: subtract, subtract;

  line-height: 0.7;

  /*
  background: repeating-linear-gradient(
    45deg,
    #000000,
    #000000 30px,
    #ffd900 30px,
    #ffd900 60px
    );
    */
}

.hero .container-sc .hero-content .hero-text {
  display: flex;
  font-family: "Russo One";
  font-weight: 300;
  width: 100%;
  font-size: 20vmin;
  color: #ff0000;
  opacity: 60%;
  height: auto;
  justify-content: center;
  transition: 1s;
}

.hero .container-sc .hero-content .hero-heading {
  font-family: "Russo One";
  font-weight: 300;
  width: 100%;
  font-size: 29vmin;
  color: #ffffff;
  opacity: 80%;
  height: auto;
  transition: 1s;
}

/* Description */

.description {
  margin-bottom: 50px;
}

.description .description-content {
  width: 70%;
}

.description .description-text {
  width: 70%;
  margin-bottom: 20px;
}

/* Map */
.map {
  padding: 20px 0;
  background-color: #333;
  background-position: 100px 100px;
  color: #fff;
  gap: 30px;
}

.map iframe {
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

/* Footer */
.footer {
  padding: 40px 0;
}

.footer a {
  font-size: 25px;
  margin-right: 20px;
  margin-top: 10x;
  color: #f4f4f6;
  position: relative;
  display: inline-block;
}

.footer .container .footer-grid i:hover {
  transform: translateY(-2px);
  color: var(--primary-color);
}

.footer d {
  font-size: 13px;
  color: #b1b1b1;
  white-space: nowrap;
}

.footer .contact {
  font-size: 13px;
  color: #fff;
}

.footer i {
  margin-right: 5px;
}

.footer .social {
  font-size: 13px;
  color: #e7e7e7;
  white-space: nowrap;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 1fr;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

/* Utility Classes */
.container-sc {
  display: flex;
  height: 100vh;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 13px 20px;
  background: var(--primary-color);
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-block {
  display: block;
  width: 100%;
}

/* Background */
.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-black {
  background: #000;
  color: #fff;
}

/* Text Classes */
.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 500;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}
